<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Catálogo de Productos</title>
    </head>

    <body>
        <!-- Header del sitio -->
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- Encabezado del catálogo -->
        <section class="container mt-5">
            <h1>Catálogo de Productos</h1>
        </section>

        <!-- Formulario de búsqueda -->
        <section class="container mt-3">
            <form class="d-flex" role="search" action="/buscar" method="get">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="search">
                    <button class="btn btn-sm btn-outline-secondary btn-dark" type="submit">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
            </form>
        </section>

        <!-- Formulario para filtrar por precio -->
        <section class="container mt-3">
            <h5>Filtrar por Precio</h5>
            <form action="/catalogo/filtrar" method="get" class="d-flex align-items-center">
                <div class="form-group d-flex align-items-center">
                    <label for="minPrecio" class="mr-2">Precio mínimo:</label>
                    <input type="number" id="minPrecio" name="minPrecio" class="form-control form-control-sm mx-2" style="width: 100px;" step="0.01" required />

                    <label for="maxPrecio" class="ml-2">Precio máximo:</label>
                    <input type="number" id="maxPrecio" name="maxPrecio" class="form-control form-control-sm mx-2" style="width: 100px;" step="0.01" required />

                    <button type="submit" class="btn btn-primary mx-2">Filtrar</button>

                    <!-- Botón para restablecer filtros -->
                    <a href="/catalogo/listcatalogo" class="btn btn-secondary ml-2">Restablecer</a>
                </div>
            </form>
        </section>

        <!-- Listado de productos -->
        <section class="container mt-5">
            <h2 th:if="${search != null}">Resultados para: "<span th:text="${search}"></span>"</h2>
            <h2 th:if="${search == null}">Listado de Productos</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <th:block th:each="producto : ${productos}">
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img th:src="${producto.rutaImagen}" class="card-img-top" alt="Imagen del Producto">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${producto.nombreProducto}">Nombre del Producto</h5>
                                    <p class="card-text" th:text="${producto.descripcion}">Descripción del Producto</p>
                                    <p class="card-text">Marca: <span th:text="${producto.marca}">Marca del Producto</span></p>
                                    <p class="card-text">Tamaño: <span th:text="${producto.tamano}">Tamaño del Producto</span></p>
                                    <p class="card-text">Precio: ₡<span th:text="${producto.precio}">Precio del Producto</span></p>

                                    <!-- Botón Ver detalles -->
                                    <a th:href="@{/catalogo/verproducto/{idProducto}(idProducto=${producto.idProducto})}" class="btn btn-primary mb-2">Ver detalles</a>

                                    <!-- Formulario para añadir al carrito -->
                                    <form class="d-flex align-items-center">
                                        <input type="hidden" name="idProducto" th:value="${producto.idProducto}" />
                                        <input type="number" name="cantidad" class="form-control me-2" value="1" min="1" max="[[${producto.existencias}]]" required />
                                        <button type="button" class="btn btn-dark" onclick="addCart(this.form)">Añadir al carrito</button>
                                    </form>

                                    <!-- Mensaje de confirmación -->
                                    <div class="alert alert-success mt-3" id="confirmacion-carrito-${producto.idProducto}" style="display: none;">
                                        Producto añadido al carrito.
                                    </div>
                                </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </section>

        <!-- Pie de página -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

        <!-- JavaScript para mostrar el mensaje de confirmación -->
        <script>
            function mostrarConfirmacion(id) {
                var confirmacion = document.getElementById(id);
                confirmacion.style.display = "block";
                setTimeout(function () {
                    confirmacion.style.display = "none";
                }, 3000); // El mensaje desaparece después de 3 segundos
            }

            function addCart(formulario) {
                var idProducto = formulario.elements['idProducto'].value;
                var cantidad = formulario.elements['cantidad'].value;

                var url = "/carrito/agregar/" + idProducto + "?cantidad=" + cantidad;
                $('#resultsBlock').load(url, function () {
                    mostrarConfirmacion('confirmacion-carrito-' + idProducto);
                });
            }
        </script>
    </body>

</html>
