<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Detalle del Producto</title>

    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div class="container mt-5">
            <div class="product-card">
                <img th:src="${producto.rutaImagen}" alt="Imagen del Producto">
                    <h1 th:text="${producto.nombreProducto}">Nombre del Producto</h1>
                    <p class="price">₡<span th:text="${producto.precio}">Precio del Producto</span></p>
                    <p th:text="${producto.descripcion}">Descripción del Producto</p>
                    <p>Marca: <span th:text="${producto.marca}">Marca del Producto</span></p>
                    <p>Tamaño: <span th:text="${producto.tamano}">Tamaño del Producto</span></p>
                    <div class="d-flex justify-content-around">
                        <form >
                            <input type="hidden" 
                                   name="idProducto" 
                                   th:value="${producto.idProducto}"/>
                            <input type="hidden" 
                                   name="existencias" 
                                   th:value="${producto.existencias}"/>
                            <button class="btn btn-dark" 
                                    type="button"
                                    onclick="addCart(this.form)">
                                Añadir al carrito
                            </button>

                        </form>
                    <a href="/catalogo/listcatalogo" class="btn btn-secondary">Volver al catálogo</a>
                    </div>
                    
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>

</html>