<!DOCTYPE html>
<!-- Esta es la primera página web dinámica   -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{sesion/fragsesion :: head-sesion}">
        <title>Smell Elegance</title>
    </head>
    <body>
        <h1>Iniciar Sesión</h1>
        <button>
            <a th:href="@{/index}">Volver al inicio</a>
        </button>
        <button>
            <a th:href="@{/sesion/listregistro}">Registrarte aquí</a>
        </button>

        <section>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label">Contraseña</label>
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text">
                            Su contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales.
                        </div>
                </div>
                <button type="button" class="btn btn-dark">Iniciar Sesión</button>
            </form>
        </section>

    </body>
</html>
