<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Smell Elegance</title>
    </head>

    <body>

        <section th:fragment="contactenos">
            <div class="container p-5">
                <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-dark text-white">
                                    <h4 style="text-align: center">¿Como le podemos ayudar?</h4>
                                </div>
                                <div class="row mb-3 ps-3 pt-3">
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3 ps-3">
                                    <label for="exampleFormControlInput1" class="form-label">Número de teléfono</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1">
                                </div>
                                <div class="col-md-8 mb-3 ps-3">
                                    <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="col-md-11 mb-3 ps-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Por favor indiquenos sus inquietudes o requerimientos" rows="3"></textarea>
                                </div>
                                <div class="col-md-1 mb-3 ps-3">
                                    <button type="submit" class="btn btn-dark ">Envíar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>

