<!DOCTYPE html>
<!-- Esta es la primera página web dinámica   -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<!-- listado.html -->

<head th:replace="~{layout/plantilla :: head}">
    <title>Smell Elegance</title>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    <!-- Verificar si el usuario es "estefani" o "kevin" -->
    <th:block th:if="${principal != null and (principal.username.equalsIgnoreCase('estefani') or principal.username.equalsIgnoreCase('kevin'))}">
    <!-- botones de agregar producto -->
     <section th:replace="~{producto/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{producto/fragmentos :: agregarProducto}"/>
</th:block>
       
    
    
    <section th:replace="~{producto/fragmentos :: listadoProductos}"/>
    
    
</body>

</html>
